In [1]:
import sqlite3
import pandas as pd

connexion = sqlite3.connect("/Users/jonathanrabbi/Desktop/Vivinio.Project/vivino.db")
cursor = connexion.cursor()

#### Question 1: Which 10 wines would you like to increase sales?

In [168]:
# Which wines are the most expensive with highest rankings and from which year are they brewed?

query1 = """
SELECT DISTINCT vintages.name, year, ratings_average, ROUND (ratings_count,0) AS count_rating, price_euros
FROM 
    vintages
    
WHERE count_rating > 500
ORDER BY  price_euros DESC, ratings_average DESC, ratings_count DESC


LIMIT 10;

    """
cursor.execute(query1)
data = cursor.fetchall()
cols = ['vintage_wine', 'vintage', 'rating_average', 'rating_count', 'price_vintage']
df_1 = pd.DataFrame(data, columns=cols)
df_1

,vintage_wine,vintage,rating_average,rating_count,price_vintage
0,Pétrus Pomerol 1982,1982,4.7,1361.0,9180.00
1,Pétrus Pomerol 1990,1990,4.8,1190.0,6300.00
2,Château Lafite Rothschild Pauillac (Premier Gr...,1986,4.7,1273.0,5977.50
3,Masseto Toscana 2001,2001,4.8,651.0,5231.25
4,Masseto Toscana 2006,2006,4.8,797.0,4910.00
5,Masseto Toscana 2005,2005,4.8,762.0,4697.50
6,Masseto Toscana 2010,2010,4.7,1054.0,4697.50
7,Pétrus Pomerol 1979,1979,4.7,883.0,4410.00
8,Masseto Toscana 2004,2004,4.7,767.0,4163.75
9,Masseto Toscana 2008,2008,4.7,764.0,4163.75

In [179]:
query2 = """
SELECT DISTINCT vintages.name, year, vintages.ratings_average, ROUND (vintages.ratings_count,0) AS count_rating, vintages.price_euros,countries.name
FROM 
    vintages
    JOIN wines ON vintages.wine_id = wines.id
    JOIN regions ON wines.region_id = regions.id
    JOIN countries ON regions.country_code = countries.code
    
WHERE count_rating > 500
ORDER BY  vintages.ratings_count DESC,vintages.ratings_average DESC


LIMIT 10;

    """
cursor.execute(query2)
data = cursor.fetchall()
cols = ['vintage_wine', 'vintage', 'rating_average', 'ratings_count', 'price_vintage','countries']
df_2 = pd.DataFrame(data, columns=cols)
df_2

,vintage_wine,vintage,rating_average,ratings_count,price_vintage,countries
0,Laurent-Perrier Brut Cuvée Champagne Rosé,N.V.,4.4,36681.0,72.00,France
1,Krug Grande Cuvée,N.V.,4.6,28513.0,245.00,France
2,Billecart-Salmon Brut Rosé Champagne,N.V.,4.4,23241.0,81.50,France
3,Ruinart Brut Rosé Champagne,N.V.,4.4,21147.0,49.61,France
4,Dom Pérignon Brut Champagne 2006,2006,4.6,21121.0,440.00,France
5,San Marzano 60 Sessantanni Old Vines Primitivo...,2017,4.5,17090.0,63.95,Italie
6,Opus One Overture,N.V.,4.5,16804.0,180.00,États-Unis
7,Caymus Cabernet Sauvignon 2019,2019,4.6,15647.0,177.95,États-Unis
8,Dom Pérignon Brut Champagne 2004,2004,4.6,14650.0,460.00,France
9,Antinori Tignanello 2016,2016,4.6,13709.0,420.00,Italie

In [171]:
merged_df = pd.concat([df_1, df_2], ignore_index=True)
merged_df

,vintage_wine,vintage,rating_average,rating_count,price_vintage
0,Pétrus Pomerol 1982,1982,4.7,1361.0,9180.00
1,Pétrus Pomerol 1990,1990,4.8,1190.0,6300.00
2,Château Lafite Rothschild Pauillac (Premier Gr...,1986,4.7,1273.0,5977.50
3,Masseto Toscana 2001,2001,4.8,651.0,5231.25
4,Masseto Toscana 2006,2006,4.8,797.0,4910.00
5,Masseto Toscana 2005,2005,4.8,762.0,4697.50
6,Masseto Toscana 2010,2010,4.7,1054.0,4697.50
7,Pétrus Pomerol 1979,1979,4.7,883.0,4410.00
8,Masseto Toscana 2004,2004,4.7,767.0,4163.75
9,Masseto Toscana 2008,2008,4.7,764.0,4163.75
10,Laurent-Perrier Brut Cuvée Champagne Rosé,N.V.,4.4,36681.0,72.00
11,Krug Grande Cuvée,N.V.,4.6,28513.0,245.00
12,Billecart-Salmon Brut Rosé Champagne,N.V.,4.4,23241.0,81.50
13,Ruinart Brut Rosé Champagne,N.V.,4.4,21147.0,49.61
14,Dom Pérignon Brut Champagne 2006,2006,4.6,21121.0,440.00
15,San Marzano 60 Sessantanni Old Vines Primitivo...,2017,4.5,17090.0,63.95
16,Opus One Overture,N.V.,4.5,16804.0,180.00
17,Caymus Cabernet Sauvignon 2019,2019,4.6,15647.0,177.95
18,Dom Pérignon Brut Champagne 2004,2004,4.6,14650.0,460.00
19,Antinori Tignanello 2016,2016,4.6,13709.0,420.00

##### Relationships

In [3]:
# Relationship between rank and ratings_average:

query2= """
SELECT DISTINCT name,rank,ratings_average
FROM 
    vintage_toplists_rankings
    JOIN vintages ON vintage_toplists_rankings.vintage_id = vintages.id
ORDER BY rank ASC, ratings_average DESC
LIMIT 70;

    """
cursor.execute(query2)
cursor.fetchall()

[('Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996', 1, 4.8),
 ('Masseto Toscana 2006', 1, 4.8),
 ('Masseto Toscana 2005', 1, 4.8),
 ('Scarecrow Cabernet Sauvignon 2015', 1, 4.8),
 ('Ornellaia Bolgheri Superiore 2005', 1, 4.7),
 ('Masseto Toscana 2010', 1, 4.7),
 ('Château Rayas Châteauneuf-du-Pape 2006', 1, 4.7),
 ('Masseto Toscana 2004', 1, 4.7),
 ('Château Rayas Châteauneuf-du-Pape 2001', 1, 4.7),
 ('Château Margaux Château Margaux (Premier Grand Cru Classé) 2010', 1, 4.7),
 ('Gaja Barbaresco 1997', 1, 4.7),
 ('Château Rayas Châteauneuf-du-Pape 2005', 1, 4.7),
 ("La Grange des Pères Vin de Pays de l'Hérault 2011", 1, 4.6),
 ('Gaja Barbaresco 1998', 1, 4.6),
 ('Château Ducru-Beaucaillou Saint-Julien (Grand Cru Classé) 2010', 1, 4.6),
 ('Gaja Sperss Barolo 2004', 1, 4.6),
 ('Burmester Tordiz 40 Year Old Tawny Port', 1, 4.6),
 ('Gaja Gaia & Rey Langhe 2006', 1, 4.6),
 ('Pago de Carraovejas Tinto 2020', 1, 4.5),
 ("La Grange des Pères Vin de Pays de l'Hérault 2012", 1, 4.5),
 ('Dal Forno Romano Valpolicella Superiore Monte Lodoletta 2004', 1, 4.5),
 ('Bonneau du Martray Corton-Charlemagne Grand Cru 2015', 1, 4.5),
 ('Trimbach Clos Sainte Hune Riesling Alsace 2012', 1, 4.5),
 ("La Grange des Pères Vin de Pays de l'Hérault Blanc 2015", 1, 4.5),
 ('Buena Vista Chateau Buena Vista Cabernet Sauvignon Napa Valley 2018',
  1,
  4.4),
 ('Guerrieri Guerriero della Terra 2019', 1, 4.4),
 ('San Marzano 60 Sessantanni Old Vines Primitivo di Manduria 2018', 1, 4.4),
 ('Tommasi Amarone della Valpolicella Classico 2018', 1, 4.4),
 ('Bodegas Tradición Palo Cortado Tradición Vors 30 Years Sherry', 1, 4.4),
 ('Arzuaga Reserva Ribera del Duero 2018', 1, 4.4),
 ('Château des Tours Vacqueyras 2011', 1, 4.4),
 ('Charles Melton Nine Popes 2015', 1, 4.4),
 ('Château Lafite Rothschild Pauillac (Premier Grand Cru Classé) 2003',
  2,
  4.8),
 ('Château Latour Grand Vin Pauillac (Premier Grand Cru Classé) 2003', 2, 4.8),
 ('Masseto Toscana 2005', 2, 4.8),
 ("Antinori Tenuta Tignanello 'Solaia' 2009", 2, 4.7),
 ('Ornellaia Bolgheri Superiore 2007', 2, 4.7),
 ('Ornellaia Bolgheri Superiore 2005', 2, 4.7),
 ('Dal Forno Romano Amarone della Valpolicella Monte Lodoletta 2006', 2, 4.7),
 ("Antinori Tenuta Tignanello 'Solaia' 1997", 2, 4.7),
 ('Dal Forno Romano Amarone della Valpolicella Monte Lodoletta 2008', 2, 4.7),
 ('Il Marroneto Madonna delle Grazie Brunello di Montalcino 2010', 2, 4.7),
 ('Gitana Lupi Rezerva 2017', 2, 4.6),
 ('Château Ducru-Beaucaillou Saint-Julien (Grand Cru Classé) 2010', 2, 4.6),
 ('Chateau Palmer Grand Vin de Château Palmer (Grand Cru Classé) 2010',
  2,
  4.6),
 ('Borgogno Barolo Riserva 1982', 2, 4.6),
 ('Tenuta San Guido Sassicaia 1988', 2, 4.6),
 ('Château Clinet Pomerol 2009', 2, 4.6),
 ('Dal Forno Romano Valpolicella Superiore Monte Lodoletta 2004', 2, 4.5),
 ('Mascarello Giuseppe e Figlio Barolo Monprivato 2010', 2, 4.5),
 ('Bodegas Tradición Palo Cortado Tradición Vors 30 Years Sherry', 2, 4.4),
 ('Château Pape Clément Pessac-Léognan (Grand Cru Classé de Graves) 2018',
  2,
  4.4),
 ("Emidio Pepe Montepulciano d'Abruzzo 2001", 2, 4.4),
 ('Château de Beaucastel Hommage à Jacques Perrin Châteauneuf-du-Pape 2011',
  2,
  4.4),
 ('Salon Le Mesnil Blanc de Blancs (Cuvée S) Brut Champagne 1996', 3, 4.8),
 ("Antinori Tenuta Tignanello 'Solaia' 2009", 3, 4.7),
 ('Krug Vintage 2002', 3, 4.7),
 ("Antinori Tenuta Tignanello 'Solaia' 1997", 3, 4.7),
 ('Krug Vintage 1996', 3, 4.7),
 ('Château Mouton Rothschild Pauillac (Premier Grand Cru Classé) 2010',
  3,
  4.7),
 ('Château Rayas Châteauneuf-du-Pape 2006', 3, 4.7),
 ('Quintarelli Giuseppe Veneto Alzero Cabernet 2007', 3, 4.7),
 ('Il Marroneto Madonna delle Grazie Brunello di Montalcino 2010', 3, 4.7),
 ('Dominio de Pingus Pingus 2015', 3, 4.7),
 ('Biserno Lodovico 2011', 3, 4.6),
 ('Château La Fleur-Pétrus Pomerol 2010', 3, 4.6),
 ('Borgogno Barolo Riserva 1982', 3, 4.6),
 ('Dal Forno Romano Valpolicella Superiore Monte Lodoletta 2007', 3, 4.5),
 ('Dom Pérignon Brut Champagne 2013', 3, 4.5),
 ('Pio Cesare Ornato Barolo 2008', 3, 4.5)]

In [31]:
# Relationship between rating_count and ratings_average:

query3= """
SELECT DISTINCT name,ratings_count,ratings_average
FROM 
    vintage_toplists_rankings
    JOIN vintages ON vintage_toplists_rankings.vintage_id = vintages.id
ORDER BY  ratings_count DESC
LIMIT 10;

    """
cursor.execute(query3)
cursor.fetchall()

[('Laurent-Perrier Brut Cuvée Champagne Rosé', 36681, 4.4),
 ('Krug Grande Cuvée', 28513, 4.6),
 ('Billecart-Salmon Brut Rosé Champagne', 23241, 4.4),
 ('San Marzano 60 Sessantanni Old Vines Primitivo di Manduria 2017',
  17090,
  4.5),
 ('Antinori Tignanello 2016', 13709, 4.6),
 ('Laurent-Perrier Grand Siècle Champagne (Grande Cuvée)', 9824, 4.5),
 ('Tenuta Ulisse Limited Edition 10 Vendemmie', 9453, 4.5),
 ('Masi Costasera Amarone della Valpolicella Classico 2016', 6185, 4.4),
 ('Buena Vista Chateau Buena Vista Cabernet Sauvignon Napa Valley 2018',
  3867,
  4.4),
 ('Krug Rosé', 3605, 4.6)]

#### Question 2: Which country should we prioritise and why?

In [64]:
# We should prioritise Italy, as the most expensive wines vis-as-vis the ratings are the most premium.


query4 = """
SELECT 
    DISTINCT vintage_id,
    vintages.name, 
    year, 
    vintages.ratings_average, 
    ROUND (vintages.ratings_count,0),
    price_euros, 
    countries.name
    
FROM 
    vintage_toplists_rankings
    JOIN vintages ON vintage_toplists_rankings.vintage_id = vintages.id
    JOIN wines ON vintages.wine_id = wines.id
    JOIN regions ON wines.region_id = regions.id
    JOIN countries ON regions.country_code = countries.code

ORDER BY rank ASC, vintages.ratings_average DESC, price_euros DESC
LIMIT 10;

    """
cursor.execute(query4)

data = cursor.fetchall()
cols = ['vintage_id','name_wine', 'vintage', 'rating_average', 'rating_count', 'price_vintage','countries']
df_2 = pd.DataFrame(data, columns=cols)
df_2

,vintage_id,name_wine,vintage,rating_average,rating_count,price_vintage,countries
0,6880159,Masseto Toscana 2006,2006,4.8,797.0,4910.00,Italie
1,6988511,Masseto Toscana 2005,2005,4.8,762.0,4697.50,Italie
2,14187320,Scarecrow Cabernet Sauvignon 2015,2015,4.8,243.0,1558.75,États-Unis
3,6457741,Masseto Toscana 2010,2010,4.7,1054.0,4697.50,Italie
4,7372117,Masseto Toscana 2004,2004,4.7,767.0,4163.75,Italie
5,1602232,Château Rayas Châteauneuf-du-Pape 2001,2001,4.7,697.0,3395.00,France
6,1738719,Château Rayas Châteauneuf-du-Pape 2005,2005,4.7,502.0,3181.25,France
7,1409704,Château Margaux Château Margaux (Premier Grand...,2010,4.7,641.0,1077.51,France
8,1209030,Gaja Barbaresco 1997,1997,4.7,627.0,597.50,Italie
9,1411331,Ornellaia Bolgheri Superiore 2005,2005,4.7,1326.0,425.00,Italie

#### Question 3: mixed tastes

In [197]:
query5 = """
SELECT 
    DISTINCT vintages.name,
    countries.name,
    keywords.name,
    COUNT(keywords.name) AS number_mixed
  
    
FROM 
    vintage_toplists_rankings
    JOIN vintages ON vintage_toplists_rankings.vintage_id = vintages.id
    JOIN wines ON vintages.wine_id = wines.id
    JOIN regions ON wines.region_id = regions.id
    JOIN countries ON regions.country_code = countries.code
    JOIN keywords_wine ON wines.id = keywords_wine.wine_id
    JOIN keywords ON keywords_wine.keyword_id = keywords.id


WHERE 
    keywords.name ='coffee'
   AND  keywords.name ='toast'
   AND keywords.name='green apple'
   AND keywords.name='cream'
   AND keywords.name='citrus'

GROUP BY keywords.name;


    """
cursor.execute(query5)
data = cursor.fetchall()
cols = ['vintage_name', 'countries','mixed_taste','number_mixed_taste']
df_3 = pd.DataFrame(data, columns=cols)
df_3

Empty DataFrame
Columns: [vintage_name, countries, mixed_taste, number_mixed_taste]
Index: []

#### Question Country

In [221]:
query7 = """
SELECT 
    countries.name, 
    AVG( vintages.ratings_average) AS average_rating_vintage,
    AVG(wines.ratings_average) AS average_rating_wine
    
FROM 
    vintages
    JOIN wines ON vintages.wine_id = wines.id
    JOIN regions ON wines.region_id = regions.id
    JOIN countries ON regions.country_code = countries.code

GROUP BY countries.name
ORDER BY average_rating_vintage DESC, average_rating_wine DESC;


    """
cursor.execute(query7)

data = cursor.fetchall()
cols = ['countries', 'rating_average_vintage','rating_average_wine']
df_2 = pd.DataFrame(data, columns=cols)
df_2

         countries  rating_average_vintage  rating_average_wine
0         Roumanie                4.500000             4.400000
1          Croatie                4.400000             4.300000
2        Argentine                4.321429             4.428571
3            Chili                4.120000             4.468000
4         Portugal                3.932258             4.429032
5         Moldavie                3.871429             4.471429
6       États-Unis                3.698214             4.506250
7   Afrique du Sud                3.656250             4.465625
8           Italie                3.630266             4.478492
9          Espagne                3.380916             4.467176
10         Hongrie                3.171429             4.464286
11          France                3.065049             4.484050
12       Australie                2.831250             4.500000
13           Grèce                2.300000             4.400000
14          Suisse                2.200000             4.350000
15       Allemagne                1.695833             4.475000
16          Israël                0.000000             4.500000