In [56]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("vivino.db")
cursor = conn.cursor()

In [63]:
# We want to highlight 10 wines to increase our sales. Which ones should we choose and why?
# FOR VINTAGE WINES:
cursor.execute('''SELECT DISTINCT vintages.wine_id, vintages.name, wines.ratings_average, wines.ratings_count, vintages.price_euros 
               FROM vintages 
               JOIN wines ON wines.id = vintages.wine_id
               GROUP BY wines.name
               ORDER BY  wines.ratings_count DESC, wines.ratings_average DESC, vintages.price_euros ASC 
               LIMIT 10''')
data = cursor.fetchall()
cols = ['wine_id', 'vintage_name', 'rating_average', 'rating_count', 'price_vintage']
df = pd.DataFrame(data, columns=cols)
df

,wine_id,vintage_name,rating_average,rating_count,price_vintage
0,86684,Dom Pérignon Brut Champagne 2000,4.6,146377,638.83
1,1652,Antinori Tignanello 2005,4.5,142513,750.00
2,5078,Tenuta San Guido Sassicaia 2005,4.6,107646,661.25
3,11890,San Marzano 60 Sessantanni Old Vines Primitivo...,4.5,94289,63.95
4,21929,Masi Costasera Amarone della Valpolicella Clas...,4.3,93397,190.00
5,1107336,Stag's Leap Wine Cellars ARTEMIS Cabernet Sauv...,4.4,81351,89.95
6,1911534,Opus One Opus One 2012,4.6,77053,455.17
7,1175427,Vega Sicilia Valbuena 5º 2016,4.6,72784,202.20
8,77171,Alión Ribera del Duero 2019,4.5,69278,81.64
9,77172,Pintia Toro 2017,4.4,60705,62.90

In [59]:
# Query to get the top 10 wines
cursor.execute('''SELECT id, name, ratings_average, ratings_count
               FROM wines
               ORDER BY ratings_count DESC, ratings_average DESC
               LIMIT 10''')
data = cursor.fetchall()
df = pd.DataFrame(data)
df

         0                                               1    2       3
0    66284                              Cabernet Sauvignon  4.6  157944
1    86684                                  Brut Champagne  4.6  146377
2     1652                                      Tignanello  4.5  142513
3     5078                                       Sassicaia  4.6  107646
4    11890  60 Sessantanni Old Vines Primitivo di Manduria  4.5   94289
5    21929   Costasera Amarone della Valpolicella Classico  4.3   93397
6  1107336                      ARTEMIS Cabernet Sauvignon  4.4   81351
7     7103             Amarone della Valpolicella Classico  4.3   77515
8  1911534                                        Opus One  4.6   77053
9  1684223             Pauillac (Premier Grand Cru Classé)  4.6   73615

In [58]:
# We have a marketing budget for this year. Which country should we prioritise and why?

cursor.execute('''SELECT countries.name, region_id, regions.name, wines.name, wines.ratings_average, wines.ratings_count, users_count, vintages.price_euros
               FROM wines
               JOIN vintages ON wine_id == wines.id
               JOIN regions ON region_id == regions.id
               JOIN countries ON regions.country_code == countries.code
               GROUP BY countries.code
               ORDER BY users_count DESC, vintages.ratings_count DESC, vintages.ratings_average DESC
               LIMIT 10''')
data = cursor.fetchall()

df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7
0,États-Unis,25,Napa Valley,Special Selection Cabernet Sauvignon,4.7,41236,12273684,397.50
1,France,827,Saint-Émilion Grand Cru,Saint-Émilion Grand Cru (Premier Grand Cru Cla...,4.6,22896,5973301,726.25
2,Italie,394,Toscana,Siepi,4.4,8129,4270717,168.75
3,Allemagne,3150,Wiltingen,Scharzhofberger Riesling Eiswein,4.7,30,2549989,2241.25
4,Espagne,405,Ribera del Duero,Félix Callejo (Viñedos de la Familia),4.3,1341,2264396,304.50
5,Suisse,1414,Ticino,Platinum,4.3,883,1601799,194.90
6,Portugal,718,Porto,Colheita Port,4.2,8039,1123535,147.82
7,Australie,7,South Australia,Grange,4.7,24356,1022965,739.00
8,Argentine,1600,Perdriel,Finca Bella Vista Malbec,4.5,7663,629532,113.00
9,Chili,1573,Aconcagua Valley,Aconcagua Valley,4.5,18482,326757,140.20

In [ ]:
# We would like to give awards to the best wineries. 
# Come up with 3 relevant ones. Which wineries should we choose and why? Be creative ;)

In [ ]:
# We have detected that a big cluster of customers like a specific combination of tastes. 
# We have identified a few primary keywords that match this.

In [ ]:
# We have detected that a big cluster of customers like a specific combination of tastes. We have identified a few primary keywords that match this. We would like you to find all the wines that have those keywords. 
# To ensure the accuracy of our selection, ensure that more than 10 users confirmed those keywords. 
# Also, identify the group_name related to those keywords.